.windowscontainer {
    display: flex;
    gap: 10px;
    align-items: flex-start;
}

.sidewindow {
    border-color: red;
    border-style: solid;
    width: 220px;
}

.mediaprocessing {
    border-color: brown;
    border-style: dashed;
    margin: 10px 10px 10px 10px;
}

.medialist {
    border-color: lightcoral;
    border-style: dashed;
    margin: 10px 10px 10px 10px;
}

.playlists {
    border-color: rgb(255, 0, 0);
    border-style: dashed;
    margin: 10px 10px 10px 10px;
}

.generalwindow {
    border-color: blue;
    border-style: solid;
    width: 800px;
}

.settingswindow {
    border-color: green;
    border-style: solid;
    margin: 10px 10px 10px 10px;
}

.block_music {
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    background-color: black;
    color: white;
    align-items: center;
    font-size: 12px;
    border-radius: 30px;
}

.btn_play {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: aquamarine;
}